/* RESET HTML*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

/* APLICANDO ESTILO PADRÃO */
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    background-color: var(--bg-main-dark-blue);
    color: var(--white);
}

h1,
h2,
h3,
a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* VARIÁVEIS DAS CORES PRINCIPAIS*/
:root {
    /* Primaria */

    /* introdução e fundo de inscrição no e-mail */
    --introduction-dark-blue: #1c2431;
    /* fundo principal */
    --bg-main-dark-blue: #181f2a;
    /* fundo do rodapé */
    --bg-footer-dark-blue: #0b1523;
    /* fundo de depoimentos */
    --bg-depositions-dark-blue: #202a3c;

    /* Acentuar */
    --cyan: #65e2d9;
    --blue: #339ecc;

    /* Neutra */
    --white: #ffffff;
}

/* INICIANDO ESTRUTURA GRID */
/* CONTAINER */
.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 80px;
    height: 200px;
}

.header ul {
    display: flex;
}

.header li+li {
    margin-left: 55px;
}

.header a {
    color: var(--white);
    padding: 10px 2px;
    border-radius: 5px;
    font-weight: 400;
}

.header a:hover {
    background-color: var(--blue);
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    height: 515px;
    background-color: var(--bg-footer-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.footer div {
    display: flex;
    margin-top: 20px;
}

.logo-footer{
    width: 100%;
    padding-left: 80px;
}

.location img {
    height: 20px;
}

.location p {
    margin-left: 25px;
    max-width: 325px;
    line-height: 1.5rem;
}

.contact {
    margin-left: 95px;
    margin-right: 145px;
    display: flex;
    max-width: 170px;
    flex-wrap: wrap;
    height: 90px;
}

.contact img{
    height: 18px;
    margin-right: 20px;
}

.help {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.help p {
    width: 150px;
    margin-bottom: 20px;
}

.social-networks img {
    align-self: flex-start;
    margin-left: 10px;
}