/* RESET HTML*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

/* APLICANDO ESTILO PADRÃO */
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    background-color: var(--bg-main-dark-blue);
    color: var(--white);
}

h1,
h2,
h3,
a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* VARIÁVEIS DAS CORES PRINCIPAIS*/
:root {
    /* Primaria */

    /* introdução e fundo de inscrição no e-mail */
    --introduction-dark-blue: #1c2431;
    /* fundo principal */
    --bg-main-dark-blue: #181f2a;
    /* fundo do rodapé */
    --bg-footer-dark-blue: #0b1523;
    /* fundo de depoimentos */
    --bg-depositions-dark-blue: #202a3c;

    /* Acentuar */
    --cyan: #65e2d9;
    --blue: #339ecc;

    /* Neutra */
    --white: #ffffff;
}

/* INICIANDO ESTRUTURA GRID */
/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
}

/* HEADER */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 80px;
    height: 200px;
}

.header ul {
    display: flex;
}

.header li+li {
    margin-left: 55px;
}

.header a {
    color: var(--white);
    padding: 10px 2px;
    border-radius: 5px;
    font-weight: 400;
}

.header a:hover {
    background-color: var(--blue);
}

/* CONTENT */
.content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "intro intro intro"
        "benefits benefits benefits"
        "info info info"
        "comments comments comments"
    ;
}

/* intro */
.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    font-size: 1.875rem;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 660px;
    text-align: center;
    line-height: 2.8rem;
}

.intro p {
    margin-bottom: 30px;
    max-width: 420px;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 400;
}

.btn-page {
    padding: 20px 100px;
    background-color: var(--blue);
    border-radius: 40px;
    color: var(--white);
    font-weight: 700;
}

/* benefits */
.benefits {
    grid-area: benefits;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.benefits-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.benefits-item {
    width: 400px;
    text-align: center;
    margin: 0 60px;
}

.benefits-item h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

/* info */
.info {
    grid-area: info;
    display: flex;
    padding: 0 100px;
}

.info-image {
    width: 50%;
}

.info-image img {
    width: 90%;
}

.info-box {
    width: 50%;
    padding: 80px 30px;
}

.info-box h2 {
    font-size: 1.875rem;
    max-width: 320px;
    margin-bottom: 30px;
}

.info-box p {
    margin-bottom: 25px;
}

.info-box a {
    color: var(--cyan);
    padding-bottom: 3px;
    border-bottom: 2px solid var(--cyan);
}

.info-box a {
    color: var(--cyan);
    padding-bottom: 3px;
    border-bottom: 2px solid var(--cyan);
}

.info-box img {
    margin-left: 3px;
}

/* comments */
.comments {
    grid-area: comments;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 35px;
    margin-top: 180px;
    margin-bottom: 360px;
}

.comments>img {
    position: absolute;
    top: -35px;
    left: 85px;
    z-index: 1;
}

.comments-box {
    z-index: 2;
    width: 360px;
    height: 200px;
    background-color: var(--bg-depositions-dark-blue);
    box-shadow: 2px 2px 4px 0 var(--bg-depositions-dark-blue);
}

.comments-box img {
    height: 30px;
    border-radius: 50%;
}

.comments-box>p {
    padding: 40px 25px 25px 25px;
}

.people {
    display: flex;
    align-items: center;
}

.people img {
    margin-left: 25px;
}

.people p {
    margin-left: 10px;
    font-weight: 400;
}

.people p + p{
    font-size: 0.6rem;
}

/* FOOTER */
.footer {
    grid-area: footer;
    height: 515px;
    background-color: var(--bg-footer-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.footer div {
    display: flex;
    margin-top: 20px;
}

.logo-footer {
    width: 100%;
    padding-left: 80px;
}

.location img {
    height: 20px;
}

.location p {
    margin-left: 25px;
    max-width: 325px;
    line-height: 1.5rem;
}

.contact {
    margin-left: 95px;
    margin-right: 145px;
    display: flex;
    max-width: 170px;
    flex-wrap: wrap;
    height: 90px;
}

.contact img {
    height: 18px;
    margin-right: 20px;
}

.contact a {
    color: var(--white);
}

.contact a:hover {
    color: var(--blue);
}

.help ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.help li {
    width: 128px;
    margin-bottom: 20px;
}

.help a {
    color: var(--white);
    padding: 10px 2px;
    border-radius: 5px;
}

.help a:hover {
    background-color: var(--blue);
}

.social-networks img {
    align-self: flex-start;
    margin-left: 10px;
}